 * { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

     
 html {
  overflow-y: scroll;
  overflow-x: hidden;
  /*scroll-behavior: smooth;*/

  /*font-family: 'Lobster', cursive;
  font-family: 'Metal Mania', cursive;*/
  /*font-family: 'Noto Serif', serif;*/
}

body {
  overflow: hidden;
}
 
/*Navbar*/   
.navbar {
  background-color: teal;
  opacity: 0.8;
  z-index: 1;
}


.navbar p {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 25px;
  margin-top: 10px;
}
.navbar-brand img {
   width: 30px;
   height: 30px;
   border-radius: 10px;
}

.nav-link {
  font-family: 'Noto Serif', serif;
  color: white;
}

.nav-item a:hover {
  background-color: darkgreen;
  border-radius: 10px;
 
}




.carousel-item img {
	height: 350px;
}

.carousel-caption {
  font-family: 'Noto Serif', serif;
	background: rgba(0, 0, 0, 0.5);
	background-size: auto;
   align-items: center;
   color: white;
   border-radius: 20px;
   /*font-weight: 100;*/
   margin-bottom: 100px;
  }



#carousel li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

/*Info Section*/

#info h3 {
  font-family: 'Lobster', cursive;
  justify-content: center;
  color: black;
  text-align: center;
  margin-top: 30px;
}

#info p {
  font-family: 'Noto Serif', serif;
  justify-content: center;
  color: black;
  font-size: 15px;

}

#video iframe {
  width: 290px;
}

/*details*/

#detail h1 {
   font-family: 'Lobster', cursive;
  background: hsla(0, 100%, 30%, 0.7);
  padding: 20px;
  font-size: 30px;
  margin-top: 50px;
  color: white;
  text-align: center;
  border-radius: 30px;

}


/*Cards*/

.card {
  width: 18rem;
  height: 22rem;
  margin-top: 20px;
  display: flex;
}

.card img {
  height: 70%;
}

.card-title {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 25px;
}



/*Modal*/
.modal-header {
  background:hsla(0, 100%, 30%, 0.7);
  color: white;

}

.modal-title {
  font-family: 'Lobster', cursive;
  margin-left: 20%;
  font-size: 30px;
}

/*Ending Button*/

.button  #click {
   font-family: 'Noto Serif', serif;
  background-color: #2fc4b2; 
  margin-top: 8vh;
  border-radius: 8px;
  color: black;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bolder;
  font-size: 15px;
  margin-left: 50%;
  transform:translate(-50%, -50%);
   mix-blend-mode: difference;
   -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff5200, 0 0 40px #ff5200, 0 0 50px #ff5200, 0 0 60px #ff5200, 0 0 70px #ff5200;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #9a1f40, 0 0 40px #9a1f40, 0 0 50px #9a1f40, 0 0 60px #9a1f40, 0 0 70px #9a1f40, 0 0 80px #9a1f40;
  }
}
 

/*footer*/

#main-footer {
  background-color: teal;
}

#main-footer .text-center {
   font-family: 'Noto Serif', serif;
  margin-top: 20px;
  color: white;
  font-size: 15px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 360px) and (max-width: 500px) {
    #video iframe {
  width: 350px;
}

#video {
   display: flex;
  justify-content: center;
}

.card {
  width: 350px;
  height: 400px;
  margin-top: 20px;
  
}

#img {
  display: flex;
  justify-content: center;
}   

}



 /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 501px) and (max-width: 767px) {
  .carousel-item img {
  height: 500px;
}

#video iframe {
  width: 500px;
}


.card {
  width: 450px;
  height: 600px;
  margin-top: 20px;
}

#img {
  display: flex;
  justify-content: center;
}  

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
.carousel-item img {
  height: 550px;
}

#info h3 {
  margin-top: 100px;
  justify-content: center;
}

#video {
  margin-top: 100px;
}

#video iframe {
  width: 350px;
}

#detail h1 {
  margin-top:100px;
}

#sphynx {
  margin-top: 50px;
}

#munchkin {
  margin-top: 50px;
}

.button  #click {
  margin-top: 80px;
  margin-bottom: 50px;
}

}


/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
     .carousel-item img {
        height: 550px;
}

#info h3 {
  margin-top: 100px;
  justify-content: center;
}

#video {
  margin-top: 100px;
}

#video iframe {
  width: 450px;
}

#detail h1 {
  margin-top:100px;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 50px;
}

.card {
  width: 17rem;
  height: 22rem;
  margin-top: 20px;
  display: flex;
}


.button  #click {
  margin-top: 80px;
  margin-bottom: 50px;
}

}






