/*
  font-family: 'Lobster', cursive;
  font-family: 'Metal Mania', cursive;*/
  /*font-family: 'Noto Serif', serif;*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 
html {
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	overflow: hidden;
	background: linear-gradient(
    	rgba(17,126,112, 0.7),
    	rgba(0,0,0,0.7)), url(../images/image10.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}



/*Navbar*/   
.navbar {
  background-color: teal;
  opacity: 0.8;
  z-index: 1;
}


.navbar p {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 25px;
  margin-top: 10px;
}
.navbar-brand img {
 width: 30px;
 height: 30px;
 border-radius: 10px;
}

.nav-link {
  font-family: 'Noto Serif', serif;
  color: white;
}

.nav-item a:hover {
  background-color: darkgreen;
  border-radius: 10px;

}



#admin {
	font-family: 'Lobster', cursive;
	margin-top: 30px;
	color: white;
}


.button {
	font-family: 'Noto Serif', serif;
	display: block;
	width: 100%;
	padding: 10px;
	background-color: teal;
	color: white;
	border-radius: 20px;
}

.card {
	margin-top: 20px;
  margin-bottom: 30px;
}

.card-header {
	font-family: 'Lobster', cursive;
	background-color: teal;
	color: white;
}

.form-group label {
	font-family: 'Noto Serif', serif;
}

/*footer*/

#main-footer {
  background-color: teal;
}

#main-footer .text-center {
   font-family: 'Noto Serif', serif;
  margin-top: 20px;
  color: white;
  font-size: 15px;
}



/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
  #main-footer {
    margin-top: 50px;
  }
}