* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  /*scroll-behavior: smooth;*/

  /*font-family: 'Lobster', cursive;
  font-family: 'Metal Mania', cursive;*/
  /*font-family: 'Noto Serif', serif;*/
}

body {
  overflow: hidden;
  background: url("../images/image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}




/*Navbar*/   
.navbar {
  background-color: teal;
  opacity: 0.8;
  z-index: 1;
}


.navbar p {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 25px;
  margin-top: 10px;
}
.navbar-brand img {
 width: 30px;
 height: 30px;
 border-radius: 10px;
}

.nav-link {
  font-family: 'Noto Serif', serif;
  color: white;
}

.nav-item a:hover {
  background-color: darkgreen;
  border-radius: 10px;

}



/*Header*/

#page-header h5 {
  font-family: 'Lobster', cursive;
  margin-top: 90px;
  color: white;
  font-size: 40px;
  padding: 10px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  mix-blend-mode: difference;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff5200, 0 0 40px #ff5200, 0 0 50px #ff5200, 0 0 60px #ff5200, 0 0 70px #ff5200;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #9a1f40, 0 0 40px #9a1f40, 0 0 50px #9a1f40, 0 0 60px #9a1f40, 0 0 70px #9a1f40, 0 0 80px #9a1f40;
  }
}



/*Cards*/

#bengal {
  margin-top: 200px;
}

.card img {
  height: 40%;
}

.card {
  width: 18rem;
  height: 34rem ;
  margin-top: 20px;
}

/*#cat {
  width: 18rem;
  height: 34rem;
  margin-top: 20px;
  }*/


  .card-title {
    font-family: 'Lobster', cursive;

  }

  .card-text {
    font-family: 'Noto Serif', serif;
    font-size: 15px;
    margin-right: 10px;
  }

  /*Card Carousel*/

  .carousel-item img {
    height: 300px;
    width: 100%;
  }

  .zoom {
   transition: transform 1s;
 }

 .zoom:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  cursor: pointer;

}

#carousel li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

#carousel2 li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

#carousel3 li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

#carousel4 li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

#carousel5 li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

#carousel6 li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}


/*Gallery*/

#video h2 {
 background: hsla(0, 100%, 30%, 0.7);
 background-size: cover;
 padding: 30px;
 font-family: 'Lobster', cursive;
 font-size: 50px;
 color: white;
 position: absolute;
 justify-content: center;
 margin-left: 15%;
 border-radius: 20px;
 margin-top: 100px;
}

#frame {
  margin-top: 300px;
  margin-bottom: 20px;
}

#video iframe {
  margin-top: 20px;
  width: 290px;
  height: 300px;
}



/*Ending Button*/

.button  #click {
 font-family: 'Noto Serif', serif;
 background-color: #2fc4b2; 
 margin-top: 8vh;
 border-radius: 8px;
 color: white;
 width: 50%;
 padding-right: 15px;
 padding-left: 15px;
 padding-top: 5px;
 padding-bottom: 5px;
 font-weight: bolder;
 font-size: 15px;
 margin-left: 50%;
 transform:translate(-50%, -50%);
 mix-blend-mode: difference;
 -webkit-animation: glow 1s ease-in-out infinite alternate;
 -moz-animation: glow 1s ease-in-out infinite alternate;
 animation: glow 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff5200, 0 0 40px #ff5200, 0 0 50px #ff5200, 0 0 60px #ff5200, 0 0 70px #ff5200;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #9a1f40, 0 0 40px #9a1f40, 0 0 50px #9a1f40, 0 0 60px #9a1f40, 0 0 70px #9a1f40, 0 0 80px #9a1f40;
  }
}



/*footer*/

#main-footer {
  background-color: teal;
}

#main-footer .text-center {
 font-family: 'Noto Serif', serif;
 margin-top: 20px; 
 color: white;
 font-size: 15px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 360px) and (max-width: 500px) {

  .card img {
    height: 50%;
  }

  .card {
    width: 22rem;
    height: 34rem ;
    margin-top: 20px;
  }

/*#cat {
  width: 22rem;
  height: 34rem;
  margin-top: 20px;
  }*/

  #card {
    display: flex;
    justify-content: center;
  }

  #video h2 {
    width: 65%;
  }

  #video iframe {
    width: 350px;
  }

  #frame {
    display: flex;
    justify-content: center;
  }

  #youtube {
    display: flex;
    justify-content: center;
  }

  #youtube2 {
   display: flex;
   justify-content: center;
 }

#youtube3 {
   display: flex;
   justify-content: center;
 }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 501px) and (max-width: 767px) {
  .card img {
    height: 50%;
  }

  .card {
    width: 24rem;
    height: 32rem ;
    margin-top: 20px;
  }

/*#cat {
  width: 24rem;
  height: 32rem;
  margin-top: 20px;
  }*/

  #card {
    display: flex;
    justify-content: center;
  }

  #video h2 {
    width: 65%;
  }

  #video iframe {
    width: 400px;
  }

  #frame {
    display: flex;
    justify-content: center;
  }

  #youtube {
    display: flex;
    justify-content: center;
  }

  #youtube2 {
   display: flex;
   justify-content: center;
 }
#youtube3 {
   display: flex;
   justify-content: center;
 }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
 #rag {
  margin-top: 200px;
}

 #card {
    display: flex;
    justify-content: center;
  }


#video h2 {
  width: 65%;
}

#video iframe {
  width: 350px;
}

#youtube {
  margin-top: 300px;
}

#frame {
  display: flex;
  justify-content: center;
}

#youtube {
  display: flex;
  justify-content: center;
}

#youtube2 {
 display: flex;
 justify-content: center;
}

#youtube3 {
   display: flex;
   justify-content: center;
 }

}




/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
  #rag {
    margin-top: 200px;
  }

#siamese {
    margin-top: 200px;
  }

  .card img {
    height: 50%;
  }

  .card {
    width: 26rem;
  }
   
  #card {
    display: flex;
    justify-content: center;
  }

  #cat {
    margin-top: 50px;
  }

  #video h2 {
  width: 65%;
}

#video iframe {
  width: 400px;
}

  #youtube {
    margin-top: 300px;
  }

  #youtube2 {
    margin-top: 300px;
  }

  #frame {
  display: flex;
  justify-content: center;
}

#youtube {
  display: flex;
  justify-content: center;
}

#youtube2 {
 display: flex;
 justify-content: center;
}

#youtube3 {
   display: flex;
   justify-content: center;
 }
  
  .button  #click {
    width: 25%;
    margin-top: 100px;
    margin-bottom: 50px;
  }
 
}