  /*font-family: 'Lobster', cursive;
  font-family: 'Metal Mania', cursive;*/
  /*font-family: 'Noto Serif', serif;*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html {
	overflow-y: scroll;
	overflow-x: hidden;
}
  
body {
	overflow: hidden;
	background: linear-gradient(
    	rgba(17,126,112, 0.7),
    	rgba(0,0,0,0.7)), url(../images/pic.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


/*Navbar*/   
.navbar {
  background-color: teal;
  opacity: 0.8;
  z-index: 1;
}


.navbar p {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 25px;
  margin-top: 10px;
}
.navbar-brand img {
 width: 30px;
 height: 30px;
 border-radius: 10px;
}

.nav-link {
  font-family: 'Noto Serif', serif;
  color: white;
}

.nav-item a:hover {
  background-color: darkgreen;
  border-radius: 10px;

}





/*Profile header*/

#edit h1 {
	font-family: 'Lobster', cursive;
	color: white;
	margin-top: 20px;

}

/*Actions*/

#button i {
	margin-top: 3rem;
	color: white;
	margin-top: 7vh;
}

#button a {
	font-family: 'Noto Serif', serif;
	color: white;
}

#change a {
	font-family: 'Noto Serif', serif;
	color: white;
	display: block;
	background-color: darkgreen;
	border: 2px solid yellowgreen;
	border-radius: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5vh;
}

#delete a {
	font-family: 'Noto Serif', serif;
	color: white;
	display: block;
	background-color: #e71414;
	border: 2px solid #f17808;
	border-radius: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5vh;
}


/*Profile*/

.card {
	border-radius: 20px;
	margin-top: 30px;
}

.card-header {
	font-family: 'Lobster', cursive;
    color:black;
}

.card-body label, input {
	font-family: 'Noto Serif', serif;
}

.card-body textarea {
	font-family: 'Noto Serif', serif;
	text-align: left;
}

#name h3{
	font-family: 'Lobster', cursive;
	color: white;
	margin-top:20px;
	margin-bottom: 10px;
	margin-left: 60px;
}

#name img {
	display: block;
	border-radius: 100%;
}

.edit {
	font-family: 'Noto Serif', serif;
	color: white;
	display: block;
	width: 100%;
	background-color: darkgreen;
	border: 2px solid yellowgreen;
	border-radius: 10px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

.delete {
	font-family: 'Noto Serif', serif;
	color: white;
	width: 100%;
	display: block;
	background-color: #e71414;
	border: 2px solid #f17808;
	border-radius: 10px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 10px;
	margin-bottom: 50px;
}

/*footer*/

#main-footer {
  background-color: teal;
}

#main-footer .text-center {
   font-family: 'Noto Serif', serif;
  margin-top: 20px;
  color: white;
  font-size: 15px;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
     .card {
     	margin-bottom: 30px;
     }
}


/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
	.card {
		margin-bottom: 30px;
	}
}


