/*font-family: 'Open Sans', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Metal Mania', cursive;*/
  /*font-family: 'Noto Serif', serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	overflow: hidden;
	background: url(../images/image9.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


/*Navbar*/   
.navbar {
  background-color: teal;
  opacity: 0.8;
  z-index: 1;
}


.navbar p {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 25px;
  margin-top: 10px;
}
.navbar-brand img {
 width: 30px;
 height: 30px;
 border-radius: 10px;
}

.nav-link {
  font-family: 'Noto Serif', serif;
  color: white;
}

.nav-item a:hover {
  background-color: darkgreen;
  border-radius: 10px;

}

/*Header*/

#cog {
	font-family: 'Lobster', cursive;
	color: white;
	margin-top: 30px;
}


#check a {
	font-family: 'Noto Serif', serif;
	color: white;
	display: block;
	background-color: darkgreen;
	border: 2px solid yellowgreen;
	border-radius: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px; 
  margin-bottom: 20px; 
}

#arrow i{
	margin-top: 20px;
	color: white;
	margin-bottom: 20px;
}

#arrow a{
  color: white;
  font-family: 'Noto Serif', serif;
}


/*Settings*/


.card {
	border-radius: 10px;
  margin-bottom: 30px;
}

.card-header {
	color: black;
}
.card-header h3 {
	font-family: 'Lobster', cursive;
}

.form-group legend {
   font-family: 'Lobster', cursive;

}

 .form-check label {
 	font-family: 'Noto Serif', serif;
 }

 /*footer*/

#main-footer {
  background-color: teal;
}

#main-footer .text-center {
   font-family: 'Noto Serif', serif;
  margin-top: 20px;
  color: white;
  font-size: 15px;
}


 
 /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  #back{
    display: flex;
    justify-content: center;
  }
}


/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {

  .card {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
  }


  #card {
    display: flex;
    justify-content: center;
  }
}