* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


 html {
	overflow-y: scroll;
	overflow-x: hidden;
	/*scroll-behavior: smooth;*/

	/*font-family: 'Lobster', cursive;
	font-family: 'Metal Mania', cursive;*/
	/*font-family: 'Noto Serif', serif;*/
}

body {
	overflow: hidden;
	background: linear-gradient(
    	rgba(17,126,112, 0.5),
    	rgba(0,0,0,0.5)),
    	 url(../images/image.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
}


/*Navbar*/   
.navbar {
  background-color: teal;
	opacity: 0.8;
	z-index: 1;
}


.navbar p {
	font-family: 'Lobster', cursive;
	color: white;
  font-size: 25px;
  margin-top: 10px;
}

.navbar-brand img {
   width: 30px;
   height: 30px;
   border-radius: 10px;
}

.nav-link {
	font-family: 'Noto Serif', serif;
	color: white;
}

.nav-item a:hover {
	background-color: darkgreen;
  border-radius: 10px;
 
}


.text-center h1 {
	font-family: 'Metal Mania', cursive;
   background-color: white;
   color: black;
   font-size: 6vh;
   font-weight: bold;
   margin-top: 22%;
   padding: 20px;   
   width: 80%;
   border-radius: 30px;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform:translate(-50%, -50%);
   mix-blend-mode: difference;
   -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff5200, 0 0 40px #ff5200, 0 0 50px #ff5200, 0 0 60px #ff5200, 0 0 70px #ff5200;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #9a1f40, 0 0 40px #9a1f40, 0 0 50px #9a1f40, 0 0 60px #9a1f40, 0 0 70px #9a1f40, 0 0 80px #9a1f40;
  }
}


.button .click {
	font-family: 'Metal Mania', cursive;
	margin-top: 250px;
	border-radius: 8px;
	color: black;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bolder;
	font-size: 20px;
	margin-left: 50%;
	transform:translate(-50%, -50%);
   mix-blend-mode: difference;
   -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff5200, 0 0 40px #ff5200, 0 0 50px #ff5200, 0 0 60px #ff5200, 0 0 70px #ff5200;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #9a1f40, 0 0 40px #9a1f40, 0 0 50px #9a1f40, 0 0 60px #9a1f40, 0 0 70px #9a1f40, 0 0 80px #9a1f40;
  }
}

/*footer*/

#main-footer {
	background-color: teal;
}

#main-footer .text-center {
   font-family: 'Noto Serif', serif;
	margin-top: 20px;
	color: white;
	font-size: 15px;
}



/*Icon*/

#html img {
   display: flex;
   width: 30px;
   height: 30px;
   margin-top: 30px;
   margin-bottom: 30px;
   border-radius: 5px;
   justify-content: center;
  
}


/*Portrait tablet/ Large Phones*/

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .text-center h1 {
       margin-top: 100px;
       width: 50%;
    }

    #icon {
      display: flex;
      justify-content: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .text-center h1 {
       margin-top: 100px;
    }

     #icon {
      display: flex;
      justify-content: center;
    }

    #main-footer {
      padding-bottom: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
   .text-center h1 {
       margin-top: 200px;
       width: 50%;
    }

   .button .click {
    margin-top: 400px;
    display: flex;
    justify-content: center;
   }

   #icon {
      display: flex;
      justify-content: center;
    }

}













